{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		

		<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p class="m-auto">Your password has been set. You may go ahead and <a href="{% url 'user_account:user_login' %}">sign in</a> now.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
	</div>
</div>

{% endblock %}