{% extends 'base.html' %}



{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-8">

<form method="POST">
	{% csrf_token %}

  <div class="mb-3">
    
 
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Old Password</label>
    <input name="old_password" type="password" class="form-control" id="exampleInputPassword1" required="true">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input name="new_password1" type="password" class="form-control" id="exampleInputPassword1" required="true">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm new Password</label>
    <input name="new_password2" type="password" class="form-control" id="exampleInputPassword1" required="true">
  </div>

  {% for field in form %}
      {% for error in field.errors %}
        
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>oh Fuck!</strong> {{ error }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
      {% endfor %}
    {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


			
		</div>
	</div>
</div>




{% endblock %}