{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block content %}


<div class="container ">
	<div class="row m-5">
		<div class="col-md-8 border border-5 shadow-lg p-2">
			<h4>{{ job.title }}  ({{job.location }}) {{job.employer.profile.official_email}} </h4>
			
			<ul class="list-group list-group-flush">
            <li class="list-group-item lead"> <i class="bi bi-briefcase-fill"></i> <strong>Employment Type </strong> :{{ job.employment_type }}</li>
            <li class="list-group-item lead"> <i class="bi bi-award-fill"></i> <strong> Level </strong>  :{{ job.experience_level  }} </li>
            <li class="list-group-item lead"> <i class="bi bi-journal-bookmark-fill"></i> <strong> Qualification </strong> :{{ job.qualifiction_type}}</li>
            <li class="list-group-item lead">  <i class="bi bi-cash-stack"></i> <strong>Salaray </strong>  : GH₵{{job.salary }} </li>
            <li class="list-group-item lead"> <i class="bi bi-pen-fill"></i> <strong>Experience </strong> :{{ job.experience }}year{{job.experience|pluralize }} </li>
             <li class="list-group-item lead"> <i class="bi bi-pen-fill"></i> <strong>Expires On </strong> :{{ job.expiration_date }} </li>
           </ul>

			<hr>

             <h5>Responsibilites  </h5>
			<p> {{job.responsibilities}} </p> 
			<hr>
             <h5>Skills</h5>
			<p>{{ job.preferred_skills}}</p>
			<hr>

			<h5>Other SKills</h5>
			{{job.additional_skills}}
            <hr>

             <h5> Qualities </h5>
			{{job.qualities}}

      <hr>
      <h5> Email: </h5>  <h6> {{ job.employer.profile.official_email }} </h6>

     



			





      
		</div>

 <div class="col-m-8 mt-5">
      			         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Apply 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Job Application Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-dark m-2"> Apply </button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>


 

      </div>
    </div>
  </div>
</div>

      </div>
			
	</div>
</div>


{% endblock %}