{% extends 'base.html' %}

{% block content %}

<section >  
<div class="container">

<div class="row">
{% if jobs %}
{% for job in jobs %}
<div class="col-md-8 g-5  ">
  <div class="card mb-3 border border-5 rounded" style="">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ job.employer.profile.profile_picture.url }}" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{ job.title }} </h5>
        <p class="card-text"> {{ job.responsibilities|truncatewords:20  }}  </p>
        <a href="{% url 'job_posting:job_detail' job.id %}" class="btn btn-primary">View</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
	</div>

		{% endfor %}

    {% else %}

    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Ooooops!</h4>
  <p>No Search Found</p>
  <hr>
  <p class="mb-0"></p>
</div>


    {% endif %}


	</div>



</div>
</section>


{% endblock %}